<form method="post" action="/articles/<%=@articles.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="title"><%=@articles.title%> </label>
    <input type="text" id="title" name="article[title]">
    <label for="content"> <%=@articles.content%></label>
    <input type="text" id="content" name="article[content]">
    <input type="submit" value="submit">
</form>