<form method="post" action="/articles">
    <label for="article_title"> Article title</label>
    <input type="text" id="article_title" name="title"><br/>
    <label for="article_content"> Article Content</label>
    <input type="text" id="article_content" name="content"><br/>
    <input type="submit" value="submit">
</form>