<%=@articles.title%>
<%=@articles.content%>
<form method="POST" action="/articles/<%= @articles.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
    </form>